<!DOCTYPE html>
<html lang="en">
<head>
<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>
</head>

<body>
<div class="gallery">
  <a target="_blank" href="images\<%=flower.imag %>">
    <img src="images\<%=flower.imag %>" alt="flowers" width="600" height="400">
  </a>
  <div class="desc"> name:<%=flower.name %> <br> color: <%=flower.color %> <br> price: <%=flower.price %></div>
</div>

</body>
</html>